<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Events</title>
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
    <main>
        <section id="github-event-updates">
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>